/* FONTS */

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  src: url(/static/fonts/notosans/NotoSans.woff2) format("woff2");
}

/* CONSTANTS */

:root {
  --color-50: oklch(0.985 0 0);
  --color-100: oklch(0.97 0 0);
  --color-200: oklch(0.922 0 0);
  --color-300: oklch(0.87 0 0);
  --color-400: oklch(0.708 0 0);
  --color-500: oklch(0.556 0 0);
  --color-600: oklch(0.439 0 0);
  --color-700: oklch(0.371 0 0);
  --color-800: oklch(0.269 0 0);
  --color-900: oklch(0.205 0 0);
  --color-950: oklch(0.145 0 0);

  --primary-btn-color: #0466c8;
  --primary-btn-hover-color: #0353a4;

  --secondary-btn-color: var(--color-500);
  --secondary-btn-hover-color: var(--color-600);

  &:has(#dark-theme:checked) {
    --bg-primary-color: var(--color-700);
    --bg-secondary-color: var(--color-800);
    --border-color: var(--color-500);
    --big-btn-color: var(--color-600);
    --big-btn-hover-color: var(--color-700);
    --card-color: var(--color-700);
    --card-hover-color: var(--color-600);
    --img-filter-color: rgb(0, 0, 0, 0.5);
    --link-color: #5fafff;
    --nav-bg-color: var(--color-900);
    --outline-color: var(--color-200);
    --pill-bg-color: var(--color-50);
    --scrollbar-color: var(--color-600);
    --text-color: var(--color-50);
    --text-disabled-color: var(--color-400);
    --text-hover-color: var(--color-300);
  }

  &:has(#dark-theme:not(:checked)) {
    --bg-primary-color: white;
    --bg-secondary-color: var(--color-100);
    --border-color: var(--color-400);
    --big-btn-color: var(--color-400);
    --big-btn-hover-color: var(--color-300);
    --card-color: var(--color-100);
    --card-hover-color: var(--color-200);
    --img-filter-color: rgb(255, 255, 255, 0.6);
    --link-color: #0353a4;
    --nav-bg-color: var(--color-300);
    --outline-color: var(--color-600);
    --pill-bg-color: white;
    --scrollbar-color: var(--color-400);
    --text-color: var(--color-800);
    --text-disabled-color: var(--color-500);
    --text-hover-color: var(--color-600);
  }
}

/* GLOBAL STYLES */

html,
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  text-wrap: pretty;
  scroll-behavior: smooth;
  height: fit-content;
  background-color: var(--bg-primary-color);
  color: var(--text-color);
  fill: var(--text-color);
  scrollbar-color: var(--scrollbar-color) var(--bg-secondary-color);
}

body:has(dialog[open]) {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-wrap: balance;
}

*:focus-visible {
  outline: var(--outline-color) solid 2px;
}

a {
  color: var(--link-color);
}

.container {
  margin: auto;
  width: clamp(36rem, 70vw, 50rem);
}

@media (max-width: 650px) {
  .container {
    width: calc(100% - 2rem);
  }
}

.container-lg {
  margin: auto;
  width: clamp(45rem, 70vw, 60em);
}

@media (max-width: 750px) {
  .container-lg {
    width: 100%;
  }
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  /* Nav height */
  scroll-margin-top: 48.38px;
}

.section-heading {
  font-size: 2.3em;
  min-height: fit-content;
  height: fit-content;
  text-align: center;
  padding: 2rem 0 1rem;
  margin: 0;
}

main section {
  padding-bottom: 2.5rem;
}

/* NAV STYLES */

nav {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 2rem 0 4rem;
  display: flex;
  flex-direction: row;
  background-color: var(--nav-bg-color);
}

.nav-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.nav-home {
  padding: 0.2rem 0;
  line-height: 0;
  z-index: 1;
}

#nav-burger-menu {
  visibility: hidden;
  display: none;
}

#close-menu-overlay {
  visibility: hidden;
  display: none;
}

.hidden {
  visibility: hidden;
  display: none;
}

nav ul {
  display: flex;
  width: fit-content;
  margin: 0;
  background-color: inherit;

  & > li {
    list-style-type: none;

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
      font-weight: bold;
      font-size: x-large;
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        color: var(--text-hover-color);
      }
    }
  }
}

.theme-switch {
  cursor: pointer;
  align-self: stretch;
  display: flex;
  align-items: center;
  fill: inherit;

  &.narrow {
    display: none;
  }

  &.wide {
    display: flex;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}

#dark-theme:checked ~ * .theme-switch.light {
  display: none !important;
}

#dark-theme:not(:checked) ~ * .theme-switch.dark {
  display: none !important;
}

@media (max-width: 500px) {
  nav {
    padding: 0 2rem;
  }

  .nav-home {
    margin-left: 0;
  }

  #nav-burger-menu {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-size: large;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  nav ul {
    visibility: hidden;
    display: none;

    & > li a {
      padding: 0.3rem 0;
    }
  }

  #nav-menu-toggle:checked + .nav-container {
    flex-wrap: wrap;

    ul {
      width: 100%;
      visibility: visible;
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0;
      text-align: start;
      z-index: 1;
    }
  }

  #nav-menu-toggle:checked ~ #close-menu-overlay {
    visibility: visible;
    display: block;
    background: transparent;
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
  }

  #nav-menu-toggle:checked + .nav-container .theme-switch.narrow {
    position: absolute;
    bottom: 0.6rem;
    right: 0;
    display: flex;
    z-index: 1;
  }
  .theme-switch.wide {
    display: none;
  }
}

/* HEADER STYLES */

header {
  width: 100%;
  min-height: 8rem;
  height: 30vh;
  background-image: url(/static/images/foggy-trees.jpg);
  background-position: 50% 0;
  background-size: cover;
  position: relative;
  color: var(--text-color);
  fill: var(--text-color);
}

.background-filter {
  background-color: var(--img-filter-color);
}

.background-filter,
#theme-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#theme-container {
  position: relative;
}

header hgroup {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  height: 100%;
}

header h1.section-heading {
  margin: 0;
  padding: 1rem 0 0.75rem;
}
header p {
  margin: 0;
  padding: 0.75rem 0 1rem;
}

/* ABOUT STYLES */

#about .section-heading {
  margin: 0;
}

#companies {
  padding: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background-color: var(--bg-secondary-color);
}

.company {
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5em;
  height: 40px;
  background-color: var(--pill-bg-color);
}

@media (min-width: 930px) {
  #about-panels {
    display: flex;
    flex-direction: row-reverse;

    & > div {
      width: 50%;
      padding: 0 1rem;
    }
  }

  #about-panel-companies p {
    text-wrap: pretty;
    margin-top: 0;
  }

  #about-panel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
    border-right: 1px solid var(--border-color);
  }
}

.button-group {
  display: flex;
  flex-direction: row;

  .button {
    border-radius: 0;

    &:first-child {
      border-radius: 0.5em 0 0 0.5em;
    }

    &:last-child {
      border-radius: 0 0.5em 0.5em 0;
    }
  }
}

.button {
  color: white;
  fill: white;
  text-decoration: none !important;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  text-wrap: nowrap;
  font-weight: bold;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &:has(svg) {
    line-height: 0;
  }

  &.primary {
    background-color: var(--primary-btn-color);

    &:hover {
      background-color: var(--primary-btn-hover-color);
    }
  }

  &.secondary {
    background-color: var(--secondary-btn-color);

    &:hover {
      background-color: var(--secondary-btn-hover-color);
    }
  }

  svg {
    height: 1em;
  }

  *:not(:first-child) {
    margin-left: 0.5ch;
  }
}

/* PROJECTS STYLES */

#projects {
  background-color: var(--bg-secondary-color);
}

#projects-toggle:checked ~ #project-container {
  height: fit-content !important;
  overflow-y: initial;
}

.projects-showing {
  visibility: hidden;
  display: none;
}
#projects-toggle:checked ~ .projects-showing,
#projects-toggle:checked ~ * .projects-showing {
  visibility: visible;
  display: initial;
}
#projects-toggle:checked ~ .projects-not-showing,
#projects-toggle:checked ~ * .projects-not-showing {
  visibility: hidden;
  display: none;
}

#project-container {
  margin: 1rem auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  overflow-y: hidden;
  height: 19rem;
  max-width: calc(18rem + 2px + 4 * (19.5rem + 2px));
  padding: 0 1rem;

  figure {
    margin: 0;
    border-radius: 0.33rem;
    width: 18rem;
  }
}

@media (min-width: 750px) {
  #project-container {
    padding: 0 8%;
  }
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: inherit;
  border-radius: inherit;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--card-color);
  border: 1px solid var(--border-color);

  &:hover {
    background-color: var(--card-hover-color);
  }
}

.project-thumbnail {
  border-radius: 0.33rem 0.33rem 0 0;
  aspect-ratio: 16 / 9;

  /* Defining fallback width/heights for unsupported aspect-ratio browsers. */
  width: 288px;
  height: 162px;
}

@media (max-width: 635px) {
  .project {
    width: 100%;
  }

  .project-thumbnail {
    height: unset;
    width: 100%;
  }
}

.project-text {
  padding: 0.75rem 1.25rem;
  border-radius: 0 0 0.33rem 0.33rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  height: 100%;

  * {
    margin: 0;
  }

  h2 {
    font-size: 1.2em;
  }
}

.projects-toggle-button {
  align-self: stretch;
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  label {
    font-size: 2.5rem;
    margin: 0 0.75em;
    padding: 0;
    min-width: 8rem;
    width: 60%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: var(--big-btn-color) !important;

    &:hover {
      background-color: var(--big-btn-hover-color) !important;
    }
  }

  span.projects-showing {
    margin-left: 0;
  }

  svg {
    display: block;
  }
}

.more-projects-text {
  margin: 1.25rem 0 0.25rem;
  font-weight: bold;
  text-wrap: balance;
  text-align: center;
}

#project-preview {
  position: fixed;
  top: 0;
  width: min(90vw, 100rem);
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
  background-color: white;
  overflow-y: hidden;

  &::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    max-height: 90vh;
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    margin: 0;
    font-size: 1.75em;
  }

  .close-button {
    font-size: 2rem;
    padding: 0.25rem;
    fill: black;
    cursor: pointer;
    background-color: var(--bg-primary-color);
    outline: 3px solid var(--border-color);

    &:focus-visible {
      outline-width: 4px;
    }

    svg {
      padding: 0 3px;
    }
  }

  iframe {
    background-size: contain;
    width: 100%;
    min-height: 40vh;
    aspect-ratio: 16 / 9;
    border: 1px solid var(--border-color);
  }
}

@media (max-width: 300px) {
  .hidden-xs {
    display: none;
  }
}

/* CONTACT STYLES */

.contact-links {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--border-color);

  a {
    display: inline-block;
    height: 40px;
    padding: 0.25em 0.5em;
    text-decoration: none;
  }

  svg {
    fill: inherit;
    width: 40px;
    height: 40px;
  }
}

#contact {
  margin-bottom: 4rem;

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
  }

  .ignore {
    height: 0;
    overflow-y: hidden;
  }

  .fields {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
  }

  form input,
  form textarea {
    background-color: var(--bg-primary-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);

    &::placeholder,
    &::-ms-input-placeholder {
      color: var(--text-disabled-color);
    }

    &:focus-visible {
      border: 1px solid var(--border-color);
      outline: var(--border-color) solid 2px;
    }
  }

  form input,
  form button,
  form textarea {
    font-size: large;
    padding: 0.5em 0.75em;
    border-radius: 0.5em;
    max-width: 100%;
    font-family: inherit;
  }

  form button {
    align-self: flex-start;
    cursor: pointer;
  }
}

textarea {
  resize: none !important;
}
