html,
body,
main {
  background-color: white;
  color: var(--grey-800);
  fill: var(--grey-800);
  scrollbar-color: var(--grey-100) var(--grey-10);
}

*:focus-visible {
  outline: var(--grey-600) solid 2px;
}

nav {
  background-color: var(--grey-100);
}

nav ul > li {
  & a {
    color: var(--grey-800);
  }

  & a:hover {
    color: var(--grey-900);
  }
}

header {
  background-image: url(/static/images/light-trees.jpg);
}

#companies {
  background-color: var(--grey-10);
}

.company {
  background-color: white;
}

@media (min-width: 930px) {
  #about-panel-text {
    border-right: 1px solid var(--grey-50);
  }
}

#projects {
  background-color: var(--grey-10);
}

.project {
  background-color: white;
  border: 1px solid var(--grey-50);
}
.project:hover {
  background-color: var(--grey-10);
}

.projects-toggle-button label {
  background-color: var(--grey-100) !important;
}
.projects-toggle-button label:hover {
  background-color: var(--grey-200) !important;
}

.more-projects-text a {
  color: var(--primary-button-hover);
}

#project-preview .close-button {
  outline: 3px solid var(--grey-100);
  background-color: white;
}

#project-preview iframe {
  border: 1px solid var(--grey-50);
}

.contact-links {
  border-top: 1px solid var(--grey-50);
}

#contact form input,
#contact form textarea {
  border: 1px solid var(--grey-50);
}

#contact form input:focus-visible,
#contact form textarea:focus-visible {
  border: 1px solid var(--grey-200);
  outline: var(--grey-200) solid 2px;
}
