#landing {
  background-image: url(/static/images/dark-trees.jpg);
  width: 100%;
  height: 30vh;
  background-position: 50% 0;
  background-size: cover;
  position: relative;
}

#nav-avatar {
  padding: 0;
  width: 2.1em;
  padding: 0;
}

.nav-color {
  color: white;
}

.nav-padding {
  padding: 0 0.3125rem !important;
}

.nav-color:hover {
  color: gray;
}

@media (min-width: 992px) {
  .pad-if-not-toggled {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.contact-links img {
  width: 2.5em;
  margin: 0 0.5em;
}

textarea {
  resize: none !important;
}

.fill {
  height: 100%;
}

#about p {
  text-align: justify;
}

@media (min-width: 768px) {
  #about-panels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  #about-panels > div {
    max-width: 50%;
    display: inline-block;
  }

  #about-panel-companies {
    padding-left: 0.5rem;
    border-left: rgba(0, 0, 0, 0.125) solid 2px;
  }

  #about-panel-text {
    position: relative;
    width: 100%;
  }
  #about-panel-text > p {
    padding-right: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

#companies {
  padding: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
}

.company {
  background-color: white;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.btn.btn-primary {
  background-color: #0069d9;
}
.btn.btn-primary:hover {
  background-color: #0057b4;
}

.project {
  width: 18rem;
  text-align: inherit;
  cursor: pointer;
}

.project:hover {
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}

.hide-children .project {
  display: none;
}

.hide-children .project.show-child {
  display: flex;
}

.children-showing {
  display: none;
}
.hide-children .children-showing {
  display: inline;
}

.children-hidden {
  display: inline;
}
.hide-children .children-hidden {
  display: none;
}

.hidden {
  display: none;
}

.toggle-more-projects-outer {
  max-width: min(26rem, 70%);
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.toggle-more-projects-outer::before,
.toggle-more-projects-outer::after {
  content: "";
  flex: 1;
  border-bottom: thin solid #6c757d;
}
.toggle-more-projects-outer::before {
  margin-right: 0.25em;
}
.toggle-more-projects-outer::after {
  margin-left: 0.25em;
}

.toggle-more-projects-link {
  margin-top: -3px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: unset;
  padding: 0;
}
.toggle-more-projects-link,
.toggle-more-projects-link:active,
.toggle-more-projects-link:focus {
  border: none;
  outline: 0;
}

.toggle-more-projects-text {
  background-color: #6c757d;
  align-items: center;
  text-align: center;
  padding: 1px 7px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
}

#theme-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
#theme-container {
  position: relative;
}
