/* GOOGLE FONTS STYLES */

@font-face {
  font-family: "Mystery Quest";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/google-fonts/mysteryquest/-nF6OG414u0E6k0wynSGlujRLwgvDs9Q.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Mystery Quest";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/google-fonts/mysteryquest/-nF6OG414u0E6k0wynSGlujRLwYvDg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Mountains of Christmas";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/google-fonts/mountainsofchristmas/3y9w6a4zcCnn5X0FDyrKi2ZRUBIy8uxoUo7eDNGsMQ.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Mountains of Christmas";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/static/google-fonts/mountainsofchristmas/3y9z6a4zcCnn5X0FDyrKi2ZRUBIy8uxoUo7eBGqJJPxIOw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-display: swap;
  src: url(/static/google-fonts/notosans/NotoSans.woff) format("truetype");
}

/* CONSTANTS */

:root {
  --primary-button: #0466c8;
  --primary-button-hover: #0353a4;

  --secondary-button: #6c757d;
  --secondary-button-hover: #5a6268;

  --grey-900: #111111;
  --grey-850: #222222;
  --grey-800: #333333;
  --grey-750: #444444;
  --grey-700: #555555;
  --grey-650: #666666;
  --grey-600: #777777;
  --grey-500: #999999;
  --grey-400: #a7a7a7;
  --grey-300: #b4b4b4;
  --grey-200: #c0c0c0;
  --grey-100: #cdcdcd;
  --grey-50: #dadada;
  --grey-10: #f8f9fa;
}

/* SITE STYLES */

html,
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
  text-wrap: pretty;
  scroll-behavior: smooth;
  height: fit-content;
}

body:has(dialog[open]) {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-wrap: balance;
}

.container {
  margin: auto;
  width: clamp(36rem, 70vw, 50rem);
}

@media (max-width: 650px) {
  .container {
    width: calc(100% - 2rem);
  }
}

.container-lg {
  margin: auto;
  width: clamp(45rem, 70vw, 60em);
}

@media (max-width: 750px) {
  .container-lg {
    width: 100%;
  }
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
}

.nav-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.nav-home {
  padding: 0.2rem 0;
  line-height: 0;
  z-index: 1;
}

#nav-burger-menu {
  visibility: hidden;
  display: none;
}

#close-menu-overlay {
  visibility: hidden;
  display: none;
}

.hidden {
  visibility: hidden;
  display: none;
}

nav ul {
  display: flex;
  width: fit-content;
  margin: 0;
  background-color: inherit;
}

nav ul > li {
  list-style-type: none;

  & a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
  }
}

.theme-switch {
  cursor: pointer;
  align-self: stretch;
  display: flex;
  align-items: center;
  fill: inherit;
}
.theme-switch svg {
  width: 2rem;
  height: 2rem;
}

.theme-switch.narrow {
  display: none;
}
.theme-switch.wide {
  display: flex;
}

@media (max-width: 500px) {
  #nav-burger-menu {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    font-size: large;
  }
  #nav-burger-menu svg {
    width: 2rem;
    height: 2rem;
  }
  nav ul {
    visibility: hidden;
    display: none;

    & > li a {
      padding: 0.3rem 0;
    }
  }

  #nav-menu-toggle:checked + .nav-container {
    flex-wrap: wrap;
    & ul {
      width: 100%;
      visibility: visible;
      display: flex;
      flex-direction: column;
      padding: 0.5rem 0;
      text-align: start;
      z-index: 1;
    }
  }

  #nav-menu-toggle:checked ~ #close-menu-overlay {
    visibility: visible;
    display: block;
    background: transparent;
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
  }

  #nav-menu-toggle:checked + .nav-container .theme-switch.narrow {
    position: absolute;
    bottom: 0.6rem;
    right: 0;
    display: flex;
    z-index: 1;
  }
  .theme-switch.wide {
    display: none;
  }
}

section {
  /* Nav height */
  scroll-margin-top: 48.38px;
}

.section-heading {
  font-size: 2.3em;
  min-height: fit-content;
  height: fit-content;
  text-align: center;
  padding: 2rem 0 1rem;
  margin: 0;
}

#landing {
  width: 100%;
  height: 30vh;
  background-position: 50% 0;
  background-size: cover;
  position: relative;
}

.landing-text {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  height: 100%;
}

.landing-text h1 {
  margin: 0;
  padding: 0;
}

#theme-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#theme-container {
  position: relative;
}

main section {
  padding-bottom: 2.5rem;
}

#about .section-heading {
  margin: 0;
}

#companies {
  padding: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
}

.company {
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5em;
  height: 40px;
}

@media (min-width: 930px) {
  #about-panels {
    display: flex;
    flex-direction: row-reverse;
  }
  #about-panels > div {
    width: 50%;
    padding: 0 1rem;
  }
  #about-panel-companies p {
    margin-top: 0;
  }
  #about-panel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
}

.button-group .button {
  border-radius: 0;
}
.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}
.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

.button {
  color: white;
  fill: white;
  text-decoration: none !important;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  text-wrap: nowrap;
  font-weight: bold;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:has(svg) {
  line-height: 0;
}

.button svg {
  height: 1em;
}

.button *:not(:first-child) {
  margin-left: 0.5ch;
}

.button.primary {
  background-color: var(--primary-button);
}
.button.primary:hover {
  background-color: var(--primary-button-hover);
}

.button.secondary {
  background-color: var(--secondary-button);
}
.button.secondary:hover {
  background-color: var(--secondary-button-hover);
}

#project-container {
  margin: 1rem auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  overflow-y: hidden;
  height: 19rem;
  max-width: calc(18rem + 2px + 4 * (19.5rem + 2px));
  padding: 0 1rem;
}
@media (min-width: 750px) {
  #project-container {
    padding: 0 8%;
  }
}
#projects-toggle:checked ~ #project-container {
  height: fit-content !important;
  overflow-y: initial;
}

.projects-showing {
  visibility: hidden;
  display: none;
}
#projects-toggle:checked ~ .projects-showing,
#projects-toggle:checked ~ * .projects-showing {
  visibility: visible;
  display: initial;
}
#projects-toggle:checked ~ .projects-not-showing,
#projects-toggle:checked ~ * .projects-not-showing {
  visibility: hidden;
  display: none;
}

#project-container article {
  border-radius: 0.33rem;
  width: 18rem;
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: inherit;
  border-radius: inherit;
  color: inherit;
  text-decoration: none;
}

.project-thumbnail {
  border-radius: 0.33rem 0.33rem 0 0;
  aspect-ratio: 16 / 9;

  /* Defining fallback width/heights for unsupported aspect-ratio browsers. */
  width: 288px;
  height: 162px;
}

@media (max-width: 635px) {
  .project {
    width: 100%;
  }

  .project-thumbnail {
    height: unset;
    width: 100%;
  }
}

.project-text {
  padding: 0.75rem 1.25rem;
  border-radius: 0 0 0.33rem 0.33rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  height: 100%;
}

.project-text * {
  margin: 0;
}

.project-text h2 {
  font-size: 1.2em;
}

.projects-toggle-button {
  align-self: stretch;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.projects-toggle-button label {
  font-size: 2.5rem;
  margin: 0 0.75em;
  padding: 0;
  min-width: 8rem;
  width: 60%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.projects-toggle-button span.projects-showing {
  margin-left: 0;
}
.projects-toggle-button svg {
  display: block;
}

.more-projects-text {
  margin: 1.25rem 0 0.25rem;
  font-weight: bold;
}

#project-preview {
  position: fixed;
  top: 0;
  width: min(90vw, 100rem);
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
  background-color: white;
  overflow-y: hidden;
}

#project-preview::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
}

#project-preview form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  max-height: 90vh;
}

#project-preview .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#project-preview h3 {
  margin: 0;
  font-size: 1.75em;
}

#project-preview .close-button {
  font-size: 2rem;
  padding: 0.25rem;
  fill: black;
  cursor: pointer;
}
#project-preview .close-button svg {
  padding: 0 3px;
}
#project-preview .close-button:focus-visible {
  outline-width: 4px;
}

#project-preview iframe {
  background-size: contain;
  width: 100%;
  min-height: 40vh;
  aspect-ratio: 16 / 9;
}

.contact-links {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.contact-links a {
  display: inline-block;
  height: 40px;
  padding: 0.25em 0.5em;
  text-decoration: none;
}

.contact-links svg {
  width: 40px;
  height: 40px;
}

#contact {
  margin-bottom: 4rem;
}

#contact .fields {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 1rem;
}

#contact .ignore {
  height: 0;
  overflow-y: hidden;
}

#contact form input,
#contact form textarea {
  font-size: large;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  font-family: inherit;
}

#contact form input[type="submit"] {
  align-self: flex-start;
  cursor: pointer;
}

textarea {
  resize: none !important;
}
