<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Niall's personal website: About | Projects | Contact" />
  <meta name="theme-color" content="#808080" />
  <meta property="og:title" content="Niall's Personal Site" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://eniallator.com" />
  <meta property="og:image" content="https://eniallator.com/static/images/avatar.jpg" />
  <meta property="og:description" content="Niall's personal website: About | Projects | Contact" />
  <meta name="twitter:card" content="summary_large_image">

  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Niall's Personal Site</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="image" href="static/images/dark-trees.jpg" />
  <link rel="preload" as="style" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="static/css/styles.css" />
  <% if (theme !== "no-theme") { %>
    <link rel="stylesheet" href="static/css/themes/<%= theme %>.css" />
  <% } %>
  <link href="https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <script src="static/js/vendor/font-awesome.js"></script>
</head>

<body>
  <nav id="navbar" class="bg-dark sticky-top nav-padding navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img id="nav-avatar" src="static/images/avatar.jpg" alt="niall's avatar" width="42" height="42" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-light fas fa-bars" style="height: unset"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mb-0 h3">
            <a class="nav-link text-light nav-color pad-if-not-toggled theme-font" href="#about">About</a>
          </li>
          <li class="nav-item mb-0 h3">
            <a class="nav-link text-light nav-color pad-if-not-toggled theme-font" href="#projects">Projects</a>
          </li>
          <li class="nav-item mb-0 h3">
            <a class="nav-link text-light nav-color pad-if-not-toggled theme-font" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <section id="landing">
    <% if (theme !== "no-theme") { %>
      <div id="theme-overlay">
        <div id="theme-container"></div>
      </div>
    <% } %>
    <div class="row fill" style="margin: unset">
      <div class="col text-white align-self-center text-center theme-font">
        <h1>Hi I'm Niall</h1>
        <p>I'm a developer</p>
      </div>
    </div>
  </section>
  <section id="about" class="bg-white py-4">
    <div class="container">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="text-center theme-font">About</h1>
        <p>
          Program as a hobby and love to explore a variety of concepts in
          computer science by trying to implement them myself. Highly
          motivated and creative thinker in terms of theory application and
          software engineering. More of a "make it work" rather than "make it
          look good" type of person.
        </p>
        <a href="/resume" class="btn btn-secondary">My Resume</a>
      </div>
    </div>
  </section>
  <section id="projects" class="bg-light pt-4 pb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="text-center theme-font">Projects</h1>
      <div id="project-container" class="d-flex flex-row flex-wrap justify-content-center js-toggle-hide-projects">
      </div>
      <div class="js-toggle-hide-projects hide-children text-center mt-1 mb-2">
        <p class="children-showing" style="font-weight: 500;">
          I have many more projects (including non-web ones) on
          <a class="show-child d-inline-block" href="https://github.com/eniallator/">my github</a>.
        </p>
      </div>
      <div class="toggle-more-projects-outer">
        <a class="js-toggle-hide-projects hide-children hidden toggle-more-projects-link" onclick="toggleChildren();">
          <span class="toggle-more-projects-text">
            Show
            <span class="children-hidden">More</span>
            <span class="children-showing">Less</span>
          </span>
        </a>
      </div>
      <div class="modal fade" id="project-preview-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content">
            <div class="modal-body py-0">
              <div class="d-flex justify-content-between">
                <h5 class="mt-2">
                  <span data-project-title></span> Preview
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div data-modal-width>
                <iframe title="Project preview"></iframe>
              </div>
              <div class="d-flex justify-content-between mb-3">
                <a class="btn btn-link" data-project-preview>Open Preview</a>
                <a class="btn btn-link" data-project-repo>View Repository</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact" class="bg-white py-4">
    <div class="container">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="theme-font">Contact</h1>
        <div class="contact-links flex-row mb-4">
          <div class="border-top mb-2"></div>
          <a class="text-decoration-none" href="https://github.com/eniallator">
            <img alt="Github Icon" src="static/images/github-icon.png" width="40" height="40" />
          </a>
          <a class="text-decoration-none" href="https://twitter.com/mceniallator">
            <img alt="Twitter Icon" src="static/images/twitter-icon.png" width="40" height="40" />
          </a>
          <a class="text-decoration-none" href="https://www.linkedin.com/in/niall-coleman-clarke/">
            <img alt="Linkedin Icon" src="static/images/linkedin-icon.png" width="40" height="40" />
          </a>
        </div>
        <form accept-charset="utf-8" action="" method="POST">
          <input name="name" type="text" class="mb-3 form-control" placeholder="Name" required />
          <input name="email" type="email" class="mb-3 form-control" placeholder="Email" required
            pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" />
          <textarea name="message" class="form-control mb-3" placeholder="Message" rows="4" required></textarea>
          <div class="d-flex">
            <input type="submit" class="btn btn-secondary form-control" value="Submit" style="width: unset" />
          </div>
        </form>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"></script>
  <script src="static/js/index.js"></script>
  <% if (theme !== "no-theme") { %>
    <script src="static/js/themes/<%= theme %>.js"></script>
  <% } %>
</body>

</html>