#dark-trees {
  background-image: url(./images/dark_trees.jpg);
  width: 100%;
  height: calc(100vh - 52px);
  background-position: 50% 0;
  background-size: cover;
  position: relative;
}

#nav-avatar {
  padding: 0;
  width: 2.1em;
  padding: 0;
}

.nav-color {
  color: white;
}

.nav-padding {
  padding: 0 0.3125rem !important;
}

.nav-color:hover {
  color: gray;
}

.contact-links img {
  width: 2.5em;
  margin: 0 0.5em;
}

textarea {
  resize: none !important;
}

.fill {
  height: 100%;
}
