.theme-font {
  font-family: "Mountains of Christmas", cursive;
}

#theme-overlay.fadein {
  -webkit-animation: 5s ease 0s normal forwards 1 lightenin;
  animation: 5s ease 0s normal forwards 1 lightenin;
}

@keyframes lightenin {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

@-webkit-keyframes lightenin {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

#theme-container {
  width: calc(100% - 224px);
  height: calc(100% - 125px);
}

#santa {
  position: absolute;
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
